.venv/
__pycache__/
.ipynb_checkpoints/
data/
results/**/models/
results/smoke/
results/smoke_upes/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
report/*.pdf
.DS_Store
smoke_*.ipynb
third_party/GRU4Rec_PyTorch_Official/
report/*.xdv
!results/**/*.log
.overleaf_test/
